In [1]:
import numpy as np
import pandas as pd

In [2]:
data_2018 = pd.read_excel("./trial/IntermediateData.xlsx",sheet_name="2018")
print(data_2018.shape)

data_2017 = pd.read_excel("./trial/IntermediateData.xlsx",sheet_name="2017")
print(data_2017.shape)

data_2016 = pd.read_excel("./trial/IntermediateData.xlsx",sheet_name="2016")
print(data_2016.shape)

data_2015 = pd.read_excel("./trial/IntermediateData.xlsx",sheet_name="2015")
print(data_2015.shape)

data_2014 = pd.read_excel("./trial/IntermediateData.xlsx",sheet_name="2014")
print(data_2014.shape)

(2000, 11)
(2284, 11)
(2199, 11)
(2027, 9)
(518, 12)

In [3]:
data_2018.head()

,Activity Name,Facility Type,Site County,Site State,Report Type,Waste Type,Consolidated Waste Type,Waste Quantity,Source County,Source State,Source Country
0,AAA MONROE ROCK CORP,Inert Waste Landfill,Snohomish,Washington,Inert Waste Landfill,Cured Concrete,Inert,104889.75,King,WA,USA
1,AAA MONROE ROCK CORP,Inert Waste Landfill,Snohomish,Washington,Inert Waste Landfill,"Soil, rock, gravel",Soils (uncontaminated),174816.25,King,WA,USA
2,AAA MONROE ROCK CORP,Inert Waste Landfill,Snohomish,Washington,Inert Waste Landfill,Asphaltic Materials (excluding roofing),Inert,1893.00,Snohomish,WA,USA
3,AAA MONROE ROCK CORP,Inert Waste Landfill,Snohomish,Washington,Inert Waste Landfill,Cured Concrete,Inert,52625.25,Snohomish,WA,USA
4,AAA MONROE ROCK CORP,Inert Waste Landfill,Snohomish,Washington,Inert Waste Landfill,"Soil, rock, gravel",Soils (uncontaminated),89572.75,Snohomish,WA,USA

In [4]:
data_2015['Activity Name'].value_counts().sort_index()

AAA MONROE ROCK CORP                                  4
Adams Street Inert Waste Disposal Sight               3
Anderson Limited Purpose Landfill                     7
Asotin County Regional Landfill                       2
Atlas Sand & Gravel - Chipman Landfill                3
Avista Ash Landfill                                   1
BP Cherry Point Refinery Inert Landfill               4
Busy Bee Landfill                                     4
CPM Inert Landfill                                    2
Carothers Road Solid Waste Site                       2
Caton Limited Purpose Landfill, LLC                  19
Cedar Hills Regional Landfill                         5
Cemex Inert Waste Landfill, Everett                  10
Central Pre-Mix Concrete Co. - Crestline              1
Cheyne Road Landfill                                  1
City of Kennewick Inert Landfill                      5
Clark Inert Landfill                                  2
Columbia Ridge Landfill                            1584
Cowlitz County Headquarters Landfill                 40
Dickson S 50th & Tyler Fill Site                      3
Douglas County Lux Pit                                4
Ephrata Landfill                                      2
Everett Water Filtration Plant                        1
Filion Inert Demo Site                                4
Finley Buttes (Oregon)                               18
Graham Road Recycling & Disp                         57
Greater Wenatchee Regional Landfill                  39
Horn Rapids Sanitary Landfill                         6
LRI Landfill                                         11
Lady Island Landfill                                  2
Lawson Limited Purpose Landfill                       1
Northside Landfill                                    3
Okanogan Central Landfill                             7
Pit-9 Inert Waste Landfill                            3
Port Townsend Paper Company (PTPC)                    3
Prosser Inert Waste Landfill                          4
Roosevelt Regional Landfill MSW                      98
Ryegrass Limited Purpose Landfill                     1
Shell Puget Sound Refinery                            1
Spokane Regional Waste to Energy Facility             8
Stafford Creek Woodwaste Landfill                     4
Stevens County Landfill                               9
Sudbury Regional Landfill                             9
Terrace Heights Landfill                              2
Tesoro Refining & Marketing Company                   1
TransAlta Centralia Mining LLC                        2
WASCO MSW Landfill (Oregon)                           9
Waller Road Inert Landfill                            8
Wells Avenue Inert Waste Landfill                     2
Wenatchee Gun Club Inert Waste landfill               5
Yakima Training Center Limited Purpose Landfill       1
Name: Activity Name, dtype: int64

In [5]:
data_2015['Activity Name'].value_counts().sort_index().shape

(51,)

In [6]:
data_2018['Facility Type'].value_counts().sort_index()

Energy Recovery and Incineration      40
Inert Waste Landfill                  70
Limited Purpose Landfill              84
Municipal Solid Waste Landfill      1805
Special Incinerator Ash Monofill       1
Name: Facility Type, dtype: int64

In [7]:
# 2014 needs some column renaming for uniformity
data_2014 = data_2014.rename(columns={"SourceCounty":"Source County" ,
                                      "Facility":"Activity Name","Amount":"Waste Quantity",
                                      "FacilityType":"Report Type","WasteTypeName":"Waste Type",
                                       "CountyName": "Site County", "StateCode" : "Site State"
                                     })

In [8]:
data_2018.head(1)

,Activity Name,Facility Type,Site County,Site State,Report Type,Waste Type,Consolidated Waste Type,Waste Quantity,Source County,Source State,Source Country
0,AAA MONROE ROCK CORP,Inert Waste Landfill,Snohomish,Washington,Inert Waste Landfill,Cured Concrete,Inert,104889.75,King,WA,USA

In [9]:
# Change some landfill names that are actually the same. Remove (oregon) does not serve any purpose
data_2014['Activity Name'] = data_2014['Activity Name'].str.replace('Adams Street Inert Waste Disposal Sight','Adams Street Inert Waste Disposal Site',regex=False)
data_2014['Activity Name'] = data_2014['Activity Name'].str.replace('Columbia Ridge Landfill (Oregon)','Columbia Ridge Landfill',regex=False)
data_2014['Activity Name'] = data_2014['Activity Name'].str.replace('WASCO MSW Landfill (Oregon)','WASCO MSW Landfill',regex=False)
data_2014['Activity Name'] = data_2014['Activity Name'].str.replace('Finley Buttes (Oregon)','Finley Buttes',regex=False)

data_2015['Activity Name'] = data_2015['Activity Name'].str.replace('Adams Street Inert Waste Disposal Sight','Adams Street Inert Waste Disposal Site',regex=False)
data_2015['Activity Name'] = data_2015['Activity Name'].str.replace('Columbia Ridge Landfill (Oregon)','Columbia Ridge Landfill',regex=False)
data_2015['Activity Name'] = data_2015['Activity Name'].str.replace('WASCO MSW Landfill (Oregon)','WASCO MSW Landfill',regex=False)
data_2015['Activity Name'] = data_2015['Activity Name'].str.replace('Finley Buttes (Oregon)','Finley Buttes',regex=False)

data_2016['Activity Name'] = data_2016['Activity Name'].str.replace('Adams Street Inert Waste Disposal Sight','Adams Street Inert Waste Disposal Site',regex=False)
data_2016['Activity Name'] = data_2016['Activity Name'].str.replace('Columbia Ridge Landfill (Oregon)','Columbia Ridge Landfill',regex=False)
data_2016['Activity Name'] = data_2016['Activity Name'].str.replace('WASCO MSW Landfill (Oregon)','WASCO MSW Landfill',regex=False)
data_2016['Activity Name'] = data_2016['Activity Name'].str.replace('Finley Buttes (Oregon)','Finley Buttes',regex=False)

data_2017['Activity Name'] = data_2017['Activity Name'].str.replace('Adams Street Inert Waste Disposal Sight','Adams Street Inert Waste Disposal Site',regex=False)
data_2017['Activity Name'] = data_2017['Activity Name'].str.replace('Columbia Ridge Landfill (Oregon)','Columbia Ridge Landfill',regex=False)
data_2017['Activity Name'] = data_2017['Activity Name'].str.replace('WASCO MSW Landfill (Oregon)','WASCO MSW Landfill',regex=False)
data_2017['Activity Name'] = data_2017['Activity Name'].str.replace('Finley Buttes (Oregon)','Finley Buttes',regex=False)

data_2018['Activity Name'] = data_2018['Activity Name'].str.replace('Adams Street Inert Waste Disposal Sight','Adams Street Inert Waste Disposal Site',regex=False)
data_2018['Activity Name'] = data_2018['Activity Name'].str.replace('Columbia Ridge Landfill (Oregon)','Columbia Ridge Landfill',regex=False)
data_2018['Activity Name'] = data_2018['Activity Name'].str.replace('WASCO MSW Landfill (Oregon)','WASCO MSW Landfill',regex=False)
data_2018['Activity Name'] = data_2018['Activity Name'].str.replace('Finley Buttes (Oregon)','Finley Buttes',regex=False)

In [10]:
data_2018['Activity Name'].value_counts().shape

(54,)

In [11]:
data_2015['Activity Name'].value_counts().sort_index()

AAA MONROE ROCK CORP                                  4
Adams Street Inert Waste Disposal Site                3
Anderson Limited Purpose Landfill                     7
Asotin County Regional Landfill                       2
Atlas Sand & Gravel - Chipman Landfill                3
Avista Ash Landfill                                   1
BP Cherry Point Refinery Inert Landfill               4
Busy Bee Landfill                                     4
CPM Inert Landfill                                    2
Carothers Road Solid Waste Site                       2
Caton Limited Purpose Landfill, LLC                  19
Cedar Hills Regional Landfill                         5
Cemex Inert Waste Landfill, Everett                  10
Central Pre-Mix Concrete Co. - Crestline              1
Cheyne Road Landfill                                  1
City of Kennewick Inert Landfill                      5
Clark Inert Landfill                                  2
Columbia Ridge Landfill                            1584
Cowlitz County Headquarters Landfill                 40
Dickson S 50th & Tyler Fill Site                      3
Douglas County Lux Pit                                4
Ephrata Landfill                                      2
Everett Water Filtration Plant                        1
Filion Inert Demo Site                                4
Finley Buttes                                        18
Graham Road Recycling & Disp                         57
Greater Wenatchee Regional Landfill                  39
Horn Rapids Sanitary Landfill                         6
LRI Landfill                                         11
Lady Island Landfill                                  2
Lawson Limited Purpose Landfill                       1
Northside Landfill                                    3
Okanogan Central Landfill                             7
Pit-9 Inert Waste Landfill                            3
Port Townsend Paper Company (PTPC)                    3
Prosser Inert Waste Landfill                          4
Roosevelt Regional Landfill MSW                      98
Ryegrass Limited Purpose Landfill                     1
Shell Puget Sound Refinery                            1
Spokane Regional Waste to Energy Facility             8
Stafford Creek Woodwaste Landfill                     4
Stevens County Landfill                               9
Sudbury Regional Landfill                             9
Terrace Heights Landfill                              2
Tesoro Refining & Marketing Company                   1
TransAlta Centralia Mining LLC                        2
WASCO MSW Landfill                                    9
Waller Road Inert Landfill                            8
Wells Avenue Inert Waste Landfill                     2
Wenatchee Gun Club Inert Waste landfill               5
Yakima Training Center Limited Purpose Landfill       1
Name: Activity Name, dtype: int64

# PART 1: MAKING COUNTY WISE DATA (2018 to 2014)

In [12]:
select_2018 = data_2018.loc[:,['Source County','Activity Name','Waste Quantity']]
select_2017 = data_2017.loc[:,['Source County','Activity Name','Waste Quantity']]
select_2016 = data_2016.loc[:,['Source County','Activity Name','Waste Quantity']]
select_2015 = data_2015.loc[:,['Source County','Activity Name','Waste Quantity']]
select_2014 = data_2014.loc[:,['Source County','Activity Name','Waste Quantity']]

In [13]:
grp_2018 = select_2018.groupby(by=['Source County','Activity Name']).sum().reset_index()
print(grp_2018.shape)
grp_2017 = select_2017.groupby(by=['Source County','Activity Name']).sum().reset_index()
print(grp_2017.shape)
grp_2016 = select_2016.groupby(by=['Source County','Activity Name']).sum().reset_index()
print(grp_2016.shape)
grp_2015 = select_2015.groupby(by=['Source County','Activity Name']).sum().reset_index()
print(grp_2015.shape)
grp_2014 = select_2014.groupby(by=['Source County','Activity Name']).sum().reset_index()
print(grp_2014.shape)

(221, 3)
(206, 3)
(201, 3)
(188, 3)
(189, 3)

In [14]:
grp_2018.head()

  Source County                        Activity Name  Waste Quantity
0         Adams              Columbia Ridge Landfill        19811.25
1         Adams                        Finley Buttes           16.47
2         Adams         Graham Road Recycling & Disp           81.97
3         Adams  Greater Wenatchee Regional Landfill            5.12
4         Adams      Roosevelt Regional Landfill MSW          811.79

In [15]:
grp_2014.head()

  Source County                        Activity Name  Waste Quantity
0         Adams              Columbia Ridge Landfill        32089.82
1         Adams                        Finley Buttes           33.74
2         Adams         Graham Road Recycling & Disp           66.13
3         Adams  Greater Wenatchee Regional Landfill           79.47
4         Adams      Roosevelt Regional Landfill MSW          141.00

In [16]:
join_all= pd.merge(grp_2018,grp_2017,on=['Source County','Activity Name'],how='outer')
join_all=join_all.rename(columns={"Waste Quantity_x":"2018","Waste Quantity_y":"2017"})
print(join_all.shape)

join_all= pd.merge(join_all,grp_2016,on=['Source County','Activity Name'],how='outer')
join_all = join_all.rename(columns={"Waste Quantity":"2016"})
print(join_all.shape)

join_all= pd.merge(join_all,grp_2015,on=['Source County','Activity Name'],how='outer')
join_all = join_all.rename(columns={"Waste Quantity":"2015"})
print(join_all.shape)

join_all= pd.merge(join_all,grp_2014,on=['Source County','Activity Name'],how='outer')
join_all = join_all.rename(columns={"Waste Quantity":"2014"})
print(join_all.shape)

(260, 4)
(273, 5)
(292, 6)
(299, 7)

In [17]:
join_all.head()

,Source County,Activity Name,2018,2017,2016,2015,2014
0,Adams,Columbia Ridge Landfill,19811.25,18001.36,18125.18,16696.94,32089.82
1,Adams,Finley Buttes,16.47,31.32,19.67,NaN,33.74
2,Adams,Graham Road Recycling & Disp,81.97,80.50,21.13,84.55,66.13
3,Adams,Greater Wenatchee Regional Landfill,5.12,32.43,11783.13,64.36,79.47
4,Adams,Roosevelt Regional Landfill MSW,811.79,451.00,1584.00,240.24,141.00

In [18]:
join_all['Source County'].value_counts().sort_index()

Adams            6
All State        2
Asotin           4
Benton          11
Chelan          10
Clallam          9
Clark           10
Columbia         4
Cowlitz          5
Douglas          9
Ferry            6
Franklin         8
Garfield         4
Grant            7
Grays Harbor     7
Island           5
Jefferson        6
King            16
Kitsap           8
Kittitas         8
Klickitat        6
Lewis            6
Lincoln          5
Mason            4
Okanogan         3
Out Of State     8
Pacific          5
Pend Oreille     4
Pierce          15
San Juan         2
Skagit           7
Skamania         1
Snohomish       15
Spokane         17
Stevens          6
Thurston         7
Unspecified      3
Wahkiakum        3
Walla Walla      6
Whatcom          8
Whitman         10
Yakima          12
_Unspecified     1
Name: Source County, dtype: int64

In [19]:
# Remove counties like all state, unspecified,out of state 
county_data=join_all.copy(deep=True)
county_data = county_data.drop(county_data[county_data['Source County']=="Unspecified"].index)
county_data = county_data.drop(county_data[county_data['Source County']=="All State"].index)
county_data = county_data.drop(county_data[county_data['Source County']=="Out Of State"].index)
county_data = county_data.drop(county_data[county_data['Source County']=="_Unspecified"].index)
county_data= county_data.reset_index()
print(len(county_data['Source County'].unique()))
print(county_data.shape)

39
(285, 8)

In [20]:
# checking to see if after join any issues happened 
county_data['Activity Name'].value_counts().sort_index()[:60]

AAA MONROE ROCK CORP                          2
Adams Street Inert Waste Disposal Site        1
Airway Pit                                    1
Anderson Limited Purpose Landfill             5
Asotin County Regional Landfill               2
Atlas Sand & Gravel - Chipman Landfill        1
Avista Ash Landfill                           1
BP Cherry Point Refinery Inert Landfill       1
Busy Bee Landfill                             1
CPM Inert Landfill                            1
Carothers Road Solid Waste Site               1
Caton Limited Purpose Landfill, LLC          14
Cedar Hills Regional Landfill                 1
Cemex Inert Waste Landfill, Everett           6
Central Pre-Mix Concrete Co. - Crestline      1
Chester Landfill                              1
Cheyne Road Landfill                          1
City of Entiat Inert Waste Landfill           1
City of Kennewick Inert Landfill              1
Clark Inert Landfill                          1
Columbia Ridge Landfill                      31
Cowlitz County Headquarters Landfill         16
Cowlitz County Tenant Way Landfill            2
DTG Limited Purpose Landfill                  5
Dickson S 50th & Tyler Fill Site              1
Douglas County Lux Pit                        1
East Isaacs Avenue Inert Waste Landfill       1
Ephrata Landfill                              1
Everett Water Filtration Plant                1
Filion Inert Demo Site                        1
Finley Buttes                                20
Graham Road Recycling & Disp                 31
Greater Wenatchee Regional Landfill          27
Horn Rapids Sanitary Landfill                 2
Hos Bros Inert Waste Landfill                 1
Inland Asphalt Landfill                       1
Iron Mountain Quarry                          1
LRI Landfill                                  1
Lady Island Landfill                          1
Lawson Limited Purpose Landfill               1
McKinley Limited Purpose Landfill             1
Northside Landfill                            2
Okanogan Central Landfill                     2
Pit-9 Inert Waste Landfill                    1
Port Townsend Paper Company (PTPC)            1
Prosser Inert Waste Landfill                  2
Reserve Silica Corp.                          2
Roosevelt Regional Landfill Ash Monofill      1
Roosevelt Regional Landfill MSW              30
Ryegrass Limited Purpose Landfill             1
Shell Puget Sound Refinery                    1
Spokane Regional Waste to Energy Facility    26
Stafford Creek Woodwaste Landfill             2
Stevens County Landfill                       2
Sudbury Regional Landfill                     1
Terrace Heights Landfill                      1
Tesoro Refining & Marketing Company           1
TransAlta Centralia Mining LLC                1
WASCO MSW Landfill                            6
Waller Road Inert Landfill                    5
Name: Activity Name, dtype: int64

In [21]:
# checking to see if after join any issues happened 
county_data['Activity Name'].value_counts().sort_index()[55:]

Terrace Heights Landfill                           1
Tesoro Refining & Marketing Company                1
TransAlta Centralia Mining LLC                     1
WASCO MSW Landfill                                 6
Waller Road Inert Landfill                         5
Ward Ave Inert Waste Landfill                      1
Wells Avenue Inert Waste Landfill                  1
Wenatchee Gun Club Inert Waste landfill            2
Whitman County Transfer Site and Landfill          1
Yakima Training Center Limited Purpose Landfill    1
Name: Activity Name, dtype: int64

In [22]:
print("total unique landfills are")
print(len(county_data["Activity Name"].unique()))

total unique landfills are
65

In [23]:
# Add Source State = WA so that Tableau does not get confused
# A redundant column to make it easier for geo mapping
county_data["Source State"] = "WA"

In [24]:
grp_county_data = county_data.groupby(by=['Source State','Source County','Activity Name']).sum().reset_index()
grp_county_data.shape

(285, 9)

In [25]:
grp_county_data.tail()

,Source State,Source County,Activity Name,index,2018,2017,2016,2015,2014
280,WA,Yakima,Greater Wenatchee Regional Landfill,216,3514.52,158.98,176.41,154.25,558.14
281,WA,Yakima,Roosevelt Regional Landfill MSW,217,4709.00,5906.00,4717.00,4340.29,2955.00
282,WA,Yakima,Spokane Regional Waste to Energy Facility,218,1.77,10.70,0.00,0.00,0.00
283,WA,Yakima,Terrace Heights Landfill,219,189473.04,190694.00,180767.00,171569.00,166556.00
284,WA,Yakima,Yakima Training Center Limited Purpose Landfill,220,282.60,151.83,656.00,63.00,43.00

In [26]:
srt_county_data = county_data.sort_values(by=['Source County','Activity Name'],ignore_index=True)
srt_county_data.tail()

,index,Source County,Activity Name,2018,2017,2016,2015,2014,Source State
280,216,Yakima,Greater Wenatchee Regional Landfill,3514.52,158.98,176.41,154.25,558.14,WA
281,217,Yakima,Roosevelt Regional Landfill MSW,4709.00,5906.00,4717.00,4340.29,2955.00,WA
282,218,Yakima,Spokane Regional Waste to Energy Facility,1.77,10.70,NaN,NaN,NaN,WA
283,219,Yakima,Terrace Heights Landfill,189473.04,190694.00,180767.00,171569.00,166556.00,WA
284,220,Yakima,Yakima Training Center Limited Purpose Landfill,282.60,151.83,656.00,63.00,43.00,WA

In [27]:
srt_county_data = srt_county_data.drop('index',axis=1)

In [28]:
srt_county_data.tail()

,Source County,Activity Name,2018,2017,2016,2015,2014,Source State
280,Yakima,Greater Wenatchee Regional Landfill,3514.52,158.98,176.41,154.25,558.14,WA
281,Yakima,Roosevelt Regional Landfill MSW,4709.00,5906.00,4717.00,4340.29,2955.00,WA
282,Yakima,Spokane Regional Waste to Energy Facility,1.77,10.70,NaN,NaN,NaN,WA
283,Yakima,Terrace Heights Landfill,189473.04,190694.00,180767.00,171569.00,166556.00,WA
284,Yakima,Yakima Training Center Limited Purpose Landfill,282.60,151.83,656.00,63.00,43.00,WA

In [29]:
srt_county_data.to_csv("./Final_Data/countywise_2014to2018.csv")

# 2. Making the Landfill Data
- Landfill name (connector to previous sheet)
- Landfill type
- geo cordinates

In [30]:
data_2014.head(1)

,SiteActivityID,Activity Name,Site County,Site State,ReportYearDescription,Report Type,ReportTypeName,Waste Quantity,Waste Type,Source County,SourceState,SourceCountry
0,610,AAA MONROE ROCK CORP,Snohomish,WA,2014,Inert Waste Landfill,Inert Waste Landfill,18.0,Asphaltic Materials (excluding roofing),King,WA,USA

In [31]:
land_select_2018 = data_2018.loc[:,['Activity Name','Report Type','Site State','Site County']]
land_select_2017 = data_2017.loc[:,['Activity Name','Report Type','Site State','Site County']]
land_select_2016 = data_2016.loc[:,['Activity Name','Report Type','Site State','Site County']]
land_select_2015 = data_2015.loc[:,['Activity Name','Report Type','Site State','Site County']]
land_select_2014 = data_2014.loc[:,['Activity Name','Report Type','Site State','Site County']]

In [32]:
land_select_2016.head()

,Activity Name,Report Type,Site State,Site County
0,AAA MONROE ROCK CORP,Inert Waste Landfill,Washington,Snohomish
1,AAA MONROE ROCK CORP,Inert Waste Landfill,Washington,Snohomish
2,AAA MONROE ROCK CORP,Inert Waste Landfill,Washington,Snohomish
3,AAA MONROE ROCK CORP,Inert Waste Landfill,Washington,Snohomish
4,Adams Street Inert Waste Disposal Site,Inert Waste Landfill,Washington,Grays Harbor

In [33]:
land_grp_2018 = land_select_2018.groupby(['Activity Name','Report Type','Site State','Site County']).count().reset_index()
print(land_grp_2018.shape)

land_grp_2017 = land_select_2017.groupby(['Activity Name','Report Type','Site State','Site County']).count().reset_index()
print(land_grp_2017.shape)

land_grp_2016 = land_select_2016.groupby(['Activity Name','Report Type','Site State','Site County']).count().reset_index()
print(land_grp_2016.shape)

land_grp_2015 = land_select_2015.groupby(['Activity Name','Report Type','Site State','Site County']).count().reset_index()
print(land_grp_2015.shape)

land_grp_2014 = land_select_2014.groupby(['Activity Name','Report Type','Site State','Site County']).count().reset_index()
print(land_grp_2014.shape)

(54, 4)
(51, 4)
(53, 4)
(51, 4)
(53, 4)

In [34]:
# Concatenate all to find the complete list 
result = pd.concat([land_grp_2018,land_grp_2017,land_grp_2016,land_grp_2015,land_grp_2014])
result.shape

(262, 4)

In [35]:
# Cleanup the same stuff
result['Site State'] = result['Site State'].str.replace('Washington','WA',regex=False)
result['Site State'] = result['Site State'].str.replace('Oregon','OR',regex=False)

In [36]:
# Cleanup the same stuff
result['Report Type'] = result['Report Type'].str.replace('Energy Recovery/Incineration','Energy Recovery and Incineration',regex=False)
result['Report Type'] = result['Report Type'].str.replace('MSW Landfill','Municipal Solid Waste Landfill',regex=False)
result['Report Type'] = result['Report Type'].str.replace('Municipal Solid Waste Landfill (351)','Municipal Solid Waste Landfill',regex=False)

In [37]:
#cleanup oregon county names which keep changing
result['Site County'] = result['Site County'].str.replace('Gilliam','N/A',regex=False)
result['Site County'] = result['Site County'].str.replace('Out Of State','N/A',regex=False)
result['Site County'] = result['Site County'].str.replace('_N/A','N/A',regex=False)
result['Site County'] = result['Site County'].str.replace('Out of State','N/A',regex=False)
result['Site County'] = result['Site County'].str.replace('All State','N/A',regex=False)

In [38]:
landfill=result.groupby(by=['Activity Name','Report Type','Site State','Site County']).count().reset_index()
landfill.shape

(80, 4)

In [39]:
landfill['Site County'].unique()

array(['Snohomish', 'Grays Harbor', 'Spokane', 'Yakima', 'Asotin',
       'Whitman', 'Stevens', 'Whatcom', 'King', 'Chelan', 'Benton', 'N/A',
       'Cowlitz', 'Pierce', 'Douglas', 'Walla Walla', 'Grant', 'Clark',
       'Clallam', 'Okanogan', 'Jefferson', 'Klickitat', 'Kittitas',
       'Skagit', 'Lewis'], dtype=object)

In [40]:
# Sometimes labeled as both limited purpose and MSW. Here we choose MSW using max()
landfill=result.groupby(by=['Activity Name','Site State','Site County']).max().reset_index()
landfill.shape

(65, 4)

In [41]:
# WE get back the unique set of landfill with their type,

# PART 3. ADDING THE GEOLOCATION

## Picking up the Data Sheet with Landfills marked manually

In [42]:
geolocation = pd.read_excel("./trial/county_cleaned_fulllocations.xlsx", sheet_name="in")

In [43]:
geolocation.head()

,Unnamed: 0,index,Source County,Activity Name,2018,2017,2016,2015,2014,latitude,longitude
0,84,84,King,AAA MONROE ROCK CORP,279706.00,364200.00,500000.0,400000.00,406881.00,47.849274,-122.024863
1,154,154,Snohomish,AAA MONROE ROCK CORP,144091.00,187622.00,314683.0,311341.00,266283.00,47.849274,-122.024863
2,289,303,Grays Harbor,Adams Street Inert Waste Disposal Sight,NaN,NaN,NaN,2241.96,2783.75,46.974709,-123.886838
3,71,71,Grays Harbor,Adams Street Inert Waste Disposal Site,131.54,684.48,251.0,NaN,NaN,46.974709,-123.886838
4,163,163,Spokane,Airway Pit,101587.00,NaN,2645.0,NaN,NaN,47.633005,-117.598674

In [44]:
# only activity and lat long
select_geolocation = geolocation.loc[:,['Activity Name','latitude','longitude']]
select_geolocation.head(1)

          Activity Name   latitude   longitude
0  AAA MONROE ROCK CORP  47.849274 -122.024863

In [47]:
# Change some landfill names that are actually the same. Remove (oregon) does not serve any purpose
select_geolocation['Activity Name'] = select_geolocation['Activity Name'].str.replace('Adams Street Inert Waste Disposal Sight','Adams Street Inert Waste Disposal Site',regex=False)
select_geolocation['Activity Name'] = select_geolocation['Activity Name'].str.replace('Columbia Ridge Landfill (Oregon)','Columbia Ridge Landfill',regex=False)
select_geolocation['Activity Name'] = select_geolocation['Activity Name'].str.replace('WASCO MSW Landfill (Oregon)','WASCO MSW Landfill',regex=False)
select_geolocation['Activity Name'] = select_geolocation['Activity Name'].str.replace('Finley Buttes (Oregon)','Finley Buttes',regex=False)

In [53]:
grp_geolocation = select_geolocation.groupby(by='Activity Name').max().reset_index()
grp_geolocation.shape

(65, 3)

In [56]:
# Left join to unique list of landfills and their details
landfill_geo= landfill.merge(grp_geolocation,on=['Activity Name'],how='inner')
print(landfill_geo.shape)

(65, 6)

In [57]:
landfill_geo

,Activity Name,Site State,Site County,Report Type,latitude,longitude
0,AAA MONROE ROCK CORP,WA,Snohomish,Inert Waste Landfill,47.849274,-122.024863
1,Adams Street Inert Waste Disposal Site,WA,Grays Harbor,Inert Waste Landfill,46.974709,-123.886838
2,Airway Pit,WA,Spokane,Inert Waste Landfill,47.633005,-117.598674
3,Anderson Limited Purpose Landfill,WA,Yakima,Limited Purpose Landfill,46.627160,-120.672106
4,Asotin County Regional Landfill,WA,Asotin,Municipal Solid Waste Landfill,46.384757,-117.105935
...,...,...,...,...,...,...
60,Ward Ave Inert Waste Landfill,WA,Douglas,Inert Waste Landfill,46.210782,-119.113594
61,Wells Avenue Inert Waste Landfill,WA,Douglas,Inert Waste Landfill,47.390095,-120.167760
62,Wenatchee Gun Club Inert Waste landfill,WA,Douglas,Inert Waste Landfill,47.408719,-120.287023
63,Whitman County Transfer Site and Landfill,WA,Whitman,Limited Purpose Landfill,46.763925,-117.278793
64,Yakima Training Center Limited Purpose Landfill,WA,Yakima,Limited Purpose Landfill,46.683137,-120.357241

In [58]:
# Looks good writing to file
landfill_geo.to_csv('./Final_Data/Landfill_Details.csv')